body {
    background-color: palevioletred;
    /* background-image: url("images/bg1.png") */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.SGTTitel {
    font-size: 24px;
    font-weight: bold;
    color: blue;
    text-shadow: -2px 2px black;
}

.SGTIntroTekst {
    text-align: center;
    /* text-align: justify; */
}

h3 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.SGTTitel:hover {
    color: blueviolet;
    text-shadow: -2px 2px blue;
}